<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>websn</title>
  </head>
  <body>
    <h1>websn <small>powered by <a href="https://webpack.js.org/" target="_blank" rel="noopener"><img src="img/webpack.svg" alt="webpack" style="width: 100px; vertical-align: middle;"></a></small></h1>
    <p>welcome to your new project, bootstrapped with <a href="https://github.com/mserajnik/websn" target="_blank" rel="noopener">websn</a>!</p>
    <p>the <a href="https://github.com/mserajnik/websn/blob/master/README.md" target="_blank" rel="noopener">readme</a> has information on how to use it.</p>
  </body>
</html>
