body {
  background-color: #2b3a42;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: inherit;

  small {
    font-size: 40%;
    font-weight: normal;
    vertical-align: middle;
  }
}

a {
  color: inherit;
}
