body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: #2b3a42;
}

h1 {
  font-family: inherit;

  small {
    vertical-align: middle;
    font-size: 40%;
    font-weight: normal;
  }
}

a {
  color: inherit;
}
